<head>
    <link rel="stylesheet" href="../stylesheets/nav.css">
</head>
<div class="side_nav">
    <div class="new">
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36">
            <path fill="#34A853" d="M16 16v14h4V20z"></path>
            <path fill="#4285F4" d="M30 16H20l-4 4h14z"></path>
            <path fill="#FBBC05" d="M6 16v4h10l4-4z"></path>
            <path fill="#EA4335" d="M20 16V6h-4v14z"></path>
            <path fill="none" d="M0 0h36v36H0z"></path>
        </svg>
        <h6>New</h6>
    </div>
    <div class="center">
        <div class="fldr">
            <a href="/home">
                <div id="mydrive" class="row">
                    <div class="icon">
                        <i class="ri-arrow-right-s-fill"></i>
                        <svg class=" c-qd" width="24px" height="24px" viewBox="0 0 24 24" fill="#000000"
                            focusable="false">
                            <path
                                d="M9.05 15H15q.275 0 .5-.137.225-.138.35-.363l1.1-1.9q.125-.225.1-.5-.025-.275-.15-.5l-2.95-5.1q-.125-.225-.35-.363Q13.375 6 13.1 6h-2.2q-.275 0-.5.137-.225.138-.35.363L7.1 11.6q-.125.225-.125.5t.125.5l1.05 1.9q.125.25.375.375T9.05 15Zm1.2-3L12 9l1.75 3ZM3 17V4q0-.825.587-1.413Q4.175 2 5 2h14q.825 0 1.413.587Q21 3.175 21 4v13Zm2 5q-.825 0-1.413-.587Q3 20.825 3 20v-1h18v1q0 .825-.587 1.413Q19.825 22 19 22Z">
                            </path>
                        </svg>
                    </div>
                    <h6>My Drive</h6>
                </div>
            </a>
            <div class="folders">
                <div class="folder">
                    <div class="icn">
                        <i class="ri-arrow-right-s-fill"></i>
                        <i class="ri-folder-fill"></i>
                    </div>
                    <h6>f name</h6>
                </div>
            </div>
        </div>
   
        <a href="/recent">
            <div  id="recent" class="swm">
                <svg class="c-qd " width="24px" height="24px" viewBox="0 0 24 24" fill="#000000"
                    focusable="false">
                    <path
                        d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z">
                    </path>
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"></path>
                </svg>
                <h6>Recent</h6>
            </div>
        </a>
        <a href="/starred">
            <div id="starred" class="swm">
                <svg class=" c-qd" width="24px" height="24px" viewBox="0 0 24 24" focusable="false"
                    fill="currentColor">
                    <path
                        d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z">
                    </path>
                </svg>
                <h6>Starred</h6>
            </div>
        </a>
        <a href="/trash">
            <div id="trash" class="swm">
                <svg width="24px" height="24px" viewBox="0 0 24 24" fill="#000000" focusable="false"
                    class=" c-qd">
                    <path d="M0 0h24v24H0V0z" fill="none"></path>
                    <path
                        d="M15 4V3H9v1H4v2h1v13c0 1.1.9 2 2 2h10c1.1 0 2-.9 2-2V6h1V4h-5zm2 15H7V6h10v13zM9 8h2v9H9zm4 0h2v9h-2z">
                    </path>
                </svg>
                <h6>Trash</h6>
            </div>
        </a>
    </div>
    <div class="bottom">
        <a href="/storage">
            <div id="storage" class="swm">
                <svg class="a-s-fa-Ha-pa c-qd a-ml-da-Q-c" width="24px" height="24px" viewBox="0 0 24 24"
                    focusable="false" fill="#6f6f6f">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path
                        d="M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM19 18H6c-2.21 0-4-1.79-4-4s1.79-4 4-4h.71C7.37 7.69 9.48 6 12 6c3.04 0 5.5 2.46 5.5 5.5v.5H19c1.66 0 3 1.34 3 3s-1.34 3-3 3z">
                    </path>
                </svg>
                <h6>Storage</h6>
            </div>
        </a>
        <div class="lines">
            <div class="line2"></div>
        </div>
        <div class="number">
            2.32GB of 15 GB
        </div>
        <div class="button">
            Buy Storage
        </div>
    </div>
</div>